body {
/*  display: none;*/
  font-size: 15px !important;
}

#page_wrapper {
  width: 100%;
  margin: 0;
}

#page {
  padding: 10px;
}

header {
  padding: 0px;
}


header h1{
  padding-bottom: 5px;
}

header h1 a {
  font-size: 35px;
  color: #444;
  display: block;
}
  

header h1 #blog_description {
  display: none;
  font-size: 18px;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}


#buddyBaller_iframe {
height: 340px;
}

page {
  width: 540px;
}

.Sidebar {
  display: none;
}


#content {
  width: 100%;
  float: none;
}

.ThumbNav {
  display: none;
}

.PostThumbnailsWrapper {
  float: none;
  width: 100%;
  margin: 10px 0 10px 0;
  padding: 0;
}

.PostThumbnailsWrapper h2 {
  display: none;
}


.PostThumbnails .Page {
  margin-bottom: 0px;
}

/*POST*/
.PostComments {
  display: none;
}

.PostTitle {
  font-size: 25px;
}

.PostDate {
  font-size: 16px;
}


.PostBody {
  margin-top: 15px;
}


.PostBody h2 {
  font-size: 18px;
}


